@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

body {
    background: url(image/Background.png);
    background-size: cover;
    font-family: 'Outfit', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    display: flex;
    align-items: center;
}

.content__wrap {
    width: 380px;
    gap: 56px;
    justify-content: space-around;
    margin-bottom: 100px;
    animation: tremor 100s infinite;
}

@keyframes tremor {
    0% { transform: translate(1.0, 0.1); }

    50% { transform: translate(0, 0); }
   
    100% { transform: translate(0, 0); }
  }

.title {
    color: var(--gray-01, #D6D6F2);
    font-family: Outfit;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
}

.title-animation {
    animation: title 700ms steps(40) infinite normal, typing 4s steps(40) infinite normal;
}

@keyframes typing {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}

@keyframes title {
    from {
        border-right: 1px solid #fff;
    }
     to {
        border-right: 1px solid transparent;
    }
}

.paragraph {
    color: var(--gray-01, #D6D6F2);
    font-family: Outfit;
    font-size: 20px;
    margin-bottom: 56px;
    font-weight: 300;
    line-height: 140%;
}

.paragraph-rgb {
    animation: paragraph-rgb 1s infinite linear;
}

@keyframes paragraph-rgb {
    0% {
        color: var(--gray-01, #ff0000);
    } 20% {
        color: var(--gray-01, #ffc508);
    } 40% {
        color: var(--gray-01, #0cce1c);
    } 60% {
        color: var(--gray-01, #01ccff);
    } 80% {
        color: var(--gray-01, #8107f3);
    } 100% {
        color: var(--gray-01, #ff0296);
}
}

.button {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    border: none;
    text-transform: uppercase;
    border-radius: 999px;
    background: var(--blue, #151557);
    margin-right: 16px;
    cursor: pointer;
}

.button:hover {
    transition: 0.5s;
    background: var(--blue-light, #212187);
    box-shadow: -4px 5px #6f00ff52;
    transform: scale(1.05);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 100px;
    cursor: pointer;
}

.error img{
    filter: drop-shadow(0 0 96px  #7000FF);
}

.error img:hover{
    filter: drop-shadow(0 0 1px  #7000FF);
    transition: all 0.5s;
    rotate: 0;
}

.error img:hover{
    transition: all 1.5s;
    rotate: 0;
    transform: rotate(360deg);
}


  @keyframes tremor {
    0% { transform: translate(0, 0); }
    15% { transform: translate(-50px, 50px ); }
    25% { transform: translate(45px, -45px ); }
    35% { transform: translate(-35px, -35px ); }
    40% { transform: translate(35px, 35px); }
    55% { transform: translate(-40px, 40px); }
    60% { transform: translate(45px, 45px); }
    65% { transform: translate(-50px, 50px); }
    70% { transform: translate(55px, 55px); }
    85% { transform: translate(-55px, 50px); }
    100% { transform: translate(0, 0); }
  } 

  /*Responsivo */
  
  @media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .content__wrap {
        margin-bottom: 0;
    }

    .error {
        margin-bottom: 0;
    }
  }

  